.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-default {
    background-color: #fff;
}
.navbar-default .navbar-toggle {
	background-color: #fff;
	border-color: #006699;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #006699;
}
.navbar-toggle .icon-bar+.icon-bar{
	margin-top: 8px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: #fff;
}
.navbar-default .navbar-nav>li{

}
.navbar-default .navbar-nav>li>a{
	color: #006699;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	background-color: #ff3366;
	color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #ff3366;
	color: #fff;
}
.navbar-default .navbar-toggle .icon-bar{
	color: 
}
/*carsouel style*/
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}
.item:nth-child(1) {
    background: #74C390;
}
.item:nth-child(2) {
    background: #51BCE8;
}
.item:nth-child(3) {
    background: #E46653;
}